$bg-light: #FFF;
$bg-dark: #444;
$default-alpha: 0.33;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$pros-color:rgba(102, 219, 102, $default-alpha);
$cons-color:rgba(199, 49, 49, $default-alpha);
$white-text: #FFF;
$primary:rgb(0, 132, 255);
$tabs-link-active-color: #FFF;